@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto+Mono:wght@600&family=Ubuntu:wght@500&display=swap');

body {
    background-color: green;
    
    
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    font-family: 'Fredoka One', cursive;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Ubuntu', sans-serif;
    

}

#player {
    color: white;
}

.grid div {
   width: 200px; 
   height: 200px;
   background-color: white;
   margin-bottom: 5px;
   

}
 .grid {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 610px;
   height: 610px;
   background-color: black;
}

.playerx{
background: url('x.png');
}

.playero{
    background: url('0.png');
}

button {
/*     width: 25%; */
    height: 30px;
    color: #fef4e9;
    border: solid 2px #da7c0c;
    border-radius: 30px;
	background: rgb(244,122,32); 
    text-transform: uppercase;
    transition: background .5s ease-in-out;
    cursor: pointer;
    font-family: 'Fredoka One', cursive;
    font-family: 'Roboto Mono', cursive;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 50px;
}
button:hover{
    background:white;
    color:rgb(244,122,32) ;
    
	
}
#canvas{
    height: 100vh;
    width: 100vw;
    display: none;
}

@media(max-width: 650px){
    .main{
        width: 95%;
    }
    .grid{
        width: 310px;
        height: 310px;
    }

    .grid div {
        width: 100px;
        height: 100px;
    }
#player {
    color: white;
    font-size: 20px;		
}
		
    .playerx{
       background-size: contain;
      
        }
        
        .playero{
            background-size: contain;
            
        }
    
}
